In [6]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt 
import numpy as np 
%matplotlib inline

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

In [8]:
columns_names =['user_id', 'item_id', 'rating', 'timestamp']

In [9]:
df = pd.read_csv('u.data', sep='\t', names = columns_names)

In [10]:
movie_titles = pd.read_csv('Movie_Id_Titles')

In [11]:
df = pd.merge(df, movie_titles,on='item_id')

In [12]:
df.groupby('title')['rating'].mean().sort_values(ascending=True)

title
Eye of Vichy, The (Oeil de Vichy, L') (1993)    1.0
Butterfly Kiss (1995)                           1.0
Daens (1992)                                    1.0
JLG/JLG - autoportrait de décembre (1994)       1.0
Touki Bouki (Journey of the Hyena) (1973)       1.0
                                               ...
Someone Else's America (1995)                   5.0
Star Kid (1997)                                 5.0
Santa with Muscles (1996)                       5.0
Prefontaine (1997)                              5.0
Marlene Dietrich: Shadow and Light (1996)       5.0
Name: rating, Length: 1664, dtype: float64

In [13]:
df.groupby('title')['rating'].count().sort_values(ascending=True)

title
Á köldum klaka (Cold Fever) (1994)              1
Mille bolle blu (1993)                          1
Mat' i syn (1997)                               1
Marlene Dietrich: Shadow and Light (1996)       1
Man from Down Under, The (1943)                 1
                                             ...
Liar Liar (1997)                              485
Return of the Jedi (1983)                     507
Fargo (1996)                                  508
Contact (1997)                                509
Star Wars (1977)                              584
Name: rating, Length: 1664, dtype: int64

In [14]:
ratings = pd.DataFrame(df.groupby('title')['rating'].mean())

In [15]:
ratings['N_ratings'] = pd.DataFrame(df.groupby('title')['rating'].count())

In [16]:
moviemat = df.pivot_table(index='user_id', columns = 'title', values='rating')

In [17]:
sw = moviemat['Star Wars (1977)']
ll = moviemat['Liar Liar (1997)']

In [18]:
smsw = moviemat.corrwith(sw)

c:\Users\Nihar\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
c:\Users\Nihar\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
c:\Users\Nihar\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2889: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
c:\Users\Nihar\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2748: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)
c:\Users\Nihar\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2748: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)

In [19]:
smll = moviemat.corrwith(ll)

In [20]:
csw = pd.DataFrame(smsw, columns=['Correlation'])
csw.dropna(inplace=True)

In [21]:
cll = pd.DataFrame(smll, columns=['Correlation'])
cll.dropna(inplace=True)

In [22]:
csw = csw.join(ratings['N_ratings'])

In [23]:
csw[csw['N_ratings']>100]

                                              Correlation  N_ratings
title
101 Dalmatians (1996)                            0.211132        109
12 Angry Men (1957)                              0.184289        125
2001: A Space Odyssey (1968)                     0.230884        259
Absolute Power (1997)                            0.085440        127
Abyss, The (1989)                                0.203709        151
...                                                   ...        ...
Willy Wonka and the Chocolate Factory (1971)     0.221902        326
Wizard of Oz, The (1939)                         0.266335        246
Wrong Trousers, The (1993)                       0.216204        118
Young Frankenstein (1974)                        0.192589        200
Young Guns (1988)                                0.186377        101

[334 rows x 2 columns]

In [24]:
cll = cll.join(ratings['N_ratings'])

In [25]:
cll[cll['N_ratings']>100]

                                              Correlation  N_ratings
title
101 Dalmatians (1996)                            0.469765        109
12 Angry Men (1957)                              0.066272        125
2001: A Space Odyssey (1968)                    -0.057864        259
Absolute Power (1997)                            0.240303        127
Abyss, The (1989)                                0.245412        151
...                                                   ...        ...
Willy Wonka and the Chocolate Factory (1971)     0.103260        326
Wizard of Oz, The (1939)                         0.117717        246
Wrong Trousers, The (1993)                       0.048221        118
Young Frankenstein (1974)                        0.176307        200
Young Guns (1988)                                0.410988        101

[334 rows x 2 columns]